{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block extra_css %}
<style>
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }
    
    .login label{
        display: grid;
        grid-template-columns: 100px 1fr;
    }

    .login form{
        display: flex;
        flex-direction: column;
        justify-content: left;
        row-gap: 10px;
    }

    .login div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
</style>
{% endblock %}

{% block content %}
<main class="login">
    <h1>Iniciar Sesion</h1>

    <form method="post">
        {% csrf_token %}
        
        <label for="correo">
            Correo <input type="email" name="correo" id="correo">
        </label>

        <label for="contrasena">
            Contraseña <input type="password" name="contrasena" id="contrasena">
        </label>

        <div>
            <button type="submit">Confirmar</button>
            <button type="reset">Cancelar</button>
        </div>

        {% if correo and contrasena %}
            <p>correo: {{correo}} </p>
            <p>contraseña: {{contrasena}} </p>
        {% endif %}
    </form>
</main>
{% endblock %}

{% block extra_js %}
<script>
    
</script>
{% endblock %}